.container {
  background-color: white;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  max-width: 360px;
  padding: 16px;
  width: 100%;
}
