.block {
  display: block;
  width: 100%;
}

.button {
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
}

.color-white {
  background-color: white;
  border: 1px #ddd solid;
  color: black;

  &:disabled {
    background-color: #e6e6e6;
    cursor: default;
  }

  &:disabled:hover {
    background-color: #e6e6e6;
    cursor: default;
  }

  &:hover {
    background-color: #f7fafa;
  }
}

.color-yellow {
  background-color: #ffd814;
  color: black;

  &:disabled {
    background-color: #e6e6e6;
  }

  &:disabled:hover {
    background-color: #e6e6e6;
    cursor: default;
  }

  &:hover {
    background-color: #f7ca00;
  }
}

.nopadding {
  padding: 0;
}

.padding-large {
  padding: 8px 16px;
}

.padding-medium {
  padding: 6px 12px;
}

.padding-small {
  padding: 4px 8px;
}
