.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  max-width: 1000px;
  padding: 16px;
  width: 100%;
}

.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}
