.container {
  min-width: 0;
  width: 100%;

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #ffd814;
  }

  .swiper-button-prev,
  .swiper-button-next {
    font-weight: bold;
  }
}
