.container {
  border: 1px #ddd solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

.product-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 16px;
}
