.container {
  width: 100%;
}

.image {
  aspect-ratio: 1;
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
}

.input {
  align-items: center;
  background-color: lightgrey;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: grid;
  justify-items: center;
  width: 100%;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.item {
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  padding: 0;
}
