.component-container {
  align-items: center;
  background-color: white;
  cursor: pointer;
  display: flex;
}

.container {
  position: relative;
  width: 100%;
}

.font-large {
  font-size: 18px;
}

.font-medium {
  font-size: 16px;
}

.font-small {
  font-size: 14px;
}

.input {
  border: none;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.input-container {
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
}

.item-container {
  background-color: white;
  box-sizing: border-box;
  cursor: pointer;
  display: grid;
  justify-items: flex-start;
  width: 100%;

  &:hover {
    background-color: lightgrey;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
}

.list-container {
  background-color: white;
  border: 1px #ddd solid;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.padding-large {
  padding: 8px 10px;
}

.padding-medium {
  padding: 6px 8px;
}

.padding-small {
  padding: 4px 6px;
}
