.divider {
  width: 100%;
}

.header {
  padding: 16px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.order-total-container {
  display: flex;
  justify-content: space-between;
}

.payment-method-list-header-container {
  border-bottom: 1px solid #565959;
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
  margin-bottom: 4px;
  padding: 8px 16px;
}

.right {
  border: 1px #ddd solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.stripe-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper {
  display: grid;
  gap: 16px;
  grid-template-columns: 7fr 3fr;
}
