.logo {
  height: auto;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  max-width: 360px;
  padding: 16px;
  width: 100%;
}

.wrapper {
  align-self: stretch;
  border: 1px #ddd solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}
