.action-list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.body-container {
  padding: 16px;
}

.container {
  border: 1px #ddd solid;
  border-radius: 8px;
}

.header-container {
  background-color: #eaeded;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  gap: 32px;
  padding: 16px;
}

.image {
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
}

.images-container {
  min-width: 0;
}

.purchase-container {
  display: flex;
}

.purchase-left-container {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 9fr;
}
