.component-container {
  align-items: center;
  background-color: white;
  cursor: pointer;
  display: flex;
}

.container {
  width: 100%;
}

.font-large {
  font-size: 18px;
}

.font-medium {
  font-size: 16px;
}

.font-small {
  font-size: 14px;
}

.input {
  border: none;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.input-container {
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
}

.padding-large {
  padding: 8px 10px;
}

.padding-medium {
  padding: 6px 8px;
}

.padding-small {
  padding: 4px 6px;
}
