.alignment-center {
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.alignment-left {
  text-align: left;
  justify-content: left;
  justify-items: left;
}

.alignment-right {
  text-align: right;
  justify-content: right;
  justify-items: right;
}

.color-black {
  color: #0f1111;
}

.color-green {
  color: #007600;
}

.color-grey {
  color: #565959;
}

.color-light-grey {
  color: #e6e6e6;
}

.color-red {
  color: #cc0c39;
}

.color-teal {
  color: #007185;
}

.color-white {
  color: white;
}

.font-large {
  font-size: 16px;
}

.font-medium {
  font-size: 14px;
}

.font-small {
  font-size: 12px;
}

.text {
  align-items: center;
  display: flex;
  font-family: "Amazon Ember", Arial, sans-serif;
}

.weight-bold {
  font-weight: 700;
}

.weight-light {
  font-weight: 300;
}

.weight-regular {
  font-weight: 400;
}
