.alignment-center {
  text-align: center;
}

.alignment-left {
  text-align: left;
}

.alignment-right {
  text-align: right;
}

.color-black {
  color: #0f1111;
}

.color-green {
  color: #007600;
}

.color-grey {
  color: #565959;
}

.color-light-grey {
  color: #e6e6e6;
}

.color-red {
  color: #cc0c39;
}

.color-white {
  color: #ffffff;
}

.font-large {
  font-size: 16px;
}

.font-medium {
  font-size: 14px;
}

.font-small {
  font-size: 12px;
}

.text {
  font-family: "Amazon Ember", Arial, sans-serif;
}

.weight-bold {
  font-weight: 700;
}

.weight-light {
  font-weight: 300;
}

.weight-regular {
  font-weight: 400;
}
